p{color: blue; text-align: center;}
table, th, td{
    border: 2px solid black; border-style: groove; border-collapse: collapse;
}
caption {
    font-size: 25px; border-radius: 10px; background-color:darksalmon;
}
